


#slider {
    height: 300px;
    background-color: darkkhaki;
    margin-top: 10px;
}

#foto {
    background-color: black;
    height: 300px;
    margin-top: 10px;
}

#artikel {
    background-color: cadetblue;
    height: 300px;
    margin-top: 10px;
}

#picca {
    background-color: cornsilk;
    margin-top: 10px;
}
#onder {
    background-color: beige;
    height: 300px;
    margin-top: 10px;
}