#header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
}

#slider {
    height: 300px;
    background-color: darkkhaki;
}

#foto {
    background-color: black;
    height: 300px;
}

#artikel {
    background-color: cadetblue;
    height: 300px
}

#picca {
    background-color: cornsilk;
    height: 600px
}
#onder {
    background-color: beige;
    height: 300px
}